<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/css/styles.css}">
    <title>Мои статьи</title>
</head>
<body>
<div id="mainmenu">
    <ul>
        <li><a th:href="@{/}">Главная</a></li>
        <li><a th:href="@{/articles}">Мои статьи</a></li>
        <li><a th:href="@{/registration}">Регистрация</a></li>
        <li><a th:href="@{/login}">Войти</a></li>
    </ul>
</div>
<div>
    <h3>Мои статьи</h3>
</div>
<div class="add_article">
    <form method="post" th:action="@{/articles/add}">
        <p>
            <label for="title" id="title_lbl">Заголовок</label>
            <input type="text" name="title" id="title" placeholder="Заголовок">
        </p>
        <p>
            <label for="body" id="body_lbl">Статья</label>
            <textarea name="body" id="body"></textarea>
        </p>
        <p>
            <button type="submit" id="add_art_butt">Опубликовать</button>
        </p>
    </form>
</div>

<div class="articles">
    <div id="lbl_earlier">
        <h3>Ранние статьи</h3>
    </div>
    <div class="earlier_art" th:if="${not #lists.isEmpty(allArticles)}">
        <th:block th:each="article : ${allArticles}">
            <p id="art_title" th:text="${article.title}"></p>
            <p id="art_body" th:text="${article.body}"></p>
            <p id="art_date" th:text="${article.date}"></p>
            <p id="art_edit"><a th:href="@{/articles/edit/{id} (id=${article.id})}">Редактировать</a></p>
        </th:block>
    </div>
</div>
</body>
</html>